[Unit]
Description=XBVR PMV server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=samuel
Group=samuel
WorkingDirectory=/home/samuel/.local/share/xbvr-pmv-wsl
Environment=HOME=/home/samuel
ExecStart=/home/samuel/.local/share/xbvr-pmv-wsl/xbvr-server -app_dir /home/samuel/.local/share/xbvr-pmv-wsl
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
